body {
	font-size: 16px;
}
.titulo{
	background:rgb(224,224,224);
}
 

.boton{
	background: rgb(51,122,183);
	color:white;
}
 


 
.titulo{
	background: rgb(224,224,224);
}
.boton{
	margin-top: 15px;
	background: rgb(51,122,183);
	border:rgb(51,122,183);
	color:white;
	padding: 5px;
	border-radius: 5px;
}
.tareas{
	margin-top: 20px;
}
.tareas ul{
	list-style: none;
}
.tareas .lista li a {
	color: #212121;
	display: block;
	text-decoration: none;
}
.tareas .lista li:hover {
	text-decoration: line-through;
}
#lista{
	margin-top: 20px;
	background:rgb(224,224,224) ;
}
#tarea{
	width: 100%;
}